.all-product {
  margin-top: 170px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.content-item {
  width: 190px;
  height: 350px;
  background-color: #ffffff9c;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

.content-item:hover {
  box-shadow: 0 1px 10px rgb(0 0 0 / 64%);
}

.content-item img {
  width: 100%;
}

.content-img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-item {
  padding: 5px;
}

.product-item .item-price {
  display: flex;
  line-height: 30px;
  font-weight: 800;
}

.sale-off {
  font-size: 14px;
  color: red;
  margin-bottom: 5px;
}

.sold {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 3px;
  font-size: 13px;
}

.sold img {
  width: 11px;
  height: 11px;
}

.discription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

.shipping {
  font-size: 16px;
  color: rgb(0, 153, 102);
}

.after-price {
  font-size: 20px;
  color: red;
  margin-right: 10px;
}

.befor-price {
  font-size: 16px;
  color: #999;
  text-decoration: line-through;
}

.choice {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.choice img {
  width: 54px;
  height: 15px;
}

.content-item {
  display: block;
}

.scoll-to-top {
  position: fixed;
  width: 35px;
  height: 35px;
  bottom: 10%;
  right: 1%;
  background-color: #80808042;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s ease-in-out;
}

.scoll-to-top a i {
  color: black;
  opacity: 0.2;
}

.scoll-to-top a i:hover {
  opacity: 1;
}

.product a {
  text-decoration: unset;
  color: black;
}
@media only screen and (max-width: 1350px) {
  .container {
    width: 1170px !important;
  }

  .product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    justify-items: center;
  }
}

@media only screen and (max-width: 1199px) {
  .container {
    width: 970px !important;
  }

  .product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr !important;
    justify-items: center;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px !important;
  }

  .product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 20px;
    justify-items: center;
  }
}

@media only screen and (max-width: 769px) {
  .container {
    width: 100% !important;
  }
  .product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 20px;
    justify-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100% !important;
  }

  .content-item {
    width: 155px;
    height: 335px;
  }

  .product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 10px !important;
    justify-items: center;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100% !important;
  }

  .content-item {
    width: 155px;
    height: 335px;
  }

  .product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 10px !important;
    justify-items: center;
  }
}

@media only screen and (max-width: 426px) {
  .container {
    width: 100% !important;
  }

  .content-item {
    width: 190px;
    height: 330px;
  }

  .product {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    gap: 20px;
    justify-items: center;
  }
}

@media only screen and (max-width: 376px) {
  .container {
    width: 100% !important;
  }

  .content-item {
    width: 155px;
    height: 320px;
  }

  .product {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    gap: 20px;
    justify-items: center;
  }
}

@media only screen and (max-width: 321px) {
  .container {
    width: 100% !important;
  }

  .content-item {
    width: 135px;
    height: 300px;
  }

  .product {
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    gap: 20px;
    justify-items: center;
  }
}
