.main-img {
  width: 30%;
  height: 450px;
}

.main-img img {
  width: 100%;
  height: 100%;
}

.detail-product {
  width: 90%;
  margin: 0 auto;
  margin-top: 150px;
  background-color: white;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.detail {
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
}

.product-discription {
  font-size: 24px;
}

.more-infor {
  font-size: 16px;
}

.product-price {
  font-size: 16px;
}

.main-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.add-cart {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
}

.shipping {
  display: flex;
  gap: 50px;
  font-size: 16px;
}

.shipping-price {
  font-size: 16px;
}

.quantity-value {
  display: flex;
  gap: 10px;
}

.add-to-cart {
  width: 293px;
  height: 44px;
  border-radius: 20px;
  border: unset;
  background-color: #e23246;
  color: white;
  font-weight: 600;
}

@media only screen and (max-width: 1350px) {
  .container {
    width: 1170px !important;
  }
  .main-img {
    width: 35%;
  }
  .main-content {
    width: 65%;
  }
}

@media only screen and (max-width: 1199px) {
  .container {
    width: 970px !important;
  }
  .main-img {
    width: 30%;
    height: 355px;
  }
  .main-content {
    width: 70%;
  }
}

@media only screen and (max-width: 991px) {
  .container {
    width: 750px !important;
  }

  .main-img {
    width: 40%;
    height: 355px;
  }
  .main-content {
    width: 60%;
  }
  .add-cart {
    width: 100%;
  }
}

@media only screen and (max-width: 769px) {
  .container {
    width: 100% !important;
  }
  .main-img {
    width: 40%;
    height: 250px;
  }
  .main-content {
    width: 60%;
    gap: 10px;
  }

  .product-discription {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100% !important;
  }
  .main-img {
    width: 50%;
    height: 250px;
  }
  .main-content {
    width: 50%;
    gap: 10px;
  }

  .product-discription {
    font-size: 14px;
  }

  .add-to-cart {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 100% !important;
  }
  .main-img {
    width: 30%;
    height: 150px;
  }
  .main-content {
    width: 70%;
    gap: 10px;
  }

  .product-discription {
    font-size: 14px;
  }

  .add-to-cart {
    width: 100%;
  }
}

@media only screen and (max-width: 426px) {
  .container {
    width: 100% !important;
  }
  .detail {
    flex-direction: column;
  }
  .main-img {
    width: 100%;
    height: 100%;
  }
  .main-content {
    width: 100%;
    gap: 10px;
  }

  .product-discription {
    font-size: 14px;
  }

  .add-to-cart {
    width: 100%;
  }
}

@media only screen and (max-width: 376px) {
  .container {
    width: 100% !important;
  }
}

@media only screen and (max-width: 321px) {
  .container {
    width: 100% !important;
  }
}
